{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    >
    <title>
      {% block title %}Django Girls Blog{% endblock %}
    </title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    >
    <link
      href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext'
      rel='stylesheet'
      type='text/css'
    >
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>
  <body>
    <div class="page-header mb-5">
      {% if user.is_authenticated %}
        {% if perms.blog.add_post %}
          <a href="{% url 'blog:post_new' %}" class="top-menu">
            <i class="fas fa-plus"></i>
          </a>
        {% endif %}
        {% if perms.blog.view_draft_posts %}
          <a href="{% url 'blog:post_draft_list' %}" class="top-menu">
            <i class="fas fa-edit"></i>
          </a>
        {% endif %}
        <p class="top-menu">
          Hello <a href="{% url 'accounts:password_change' %}">{{ user.username }}</a> 
          <small>(<a href="{% url 'accounts:logout' %}">Log out</a>)</small>
        </p>
      {% else %}
        <a href="{% url 'accounts:login' %}" class="top-menu">
          <i class="fas fa-lock"></i>
        </a>
        <a href="{% url 'accounts:register' %}" class="top-menu">
          <i class="fas fa-user-plus"></i>
        </a>
      {% endif %}
      <h1 class="ml-md-5">
        <a href="{% url 'blog:post_list' %}">Django Girls Blog</a>
      </h1>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}
          {% endblock %}
        </div>
        <div class="col-md-3 offset-md-1">
          {% block sidebar %}
          {% endblock %}  
        </div>
      </div>
    </div>
    <script defer
      src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"
      integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH"
      crossorigin="anonymous">
    </script>
  </body>
</html>
